.form-edit {
    display: grid;
    place-items: center;
    margin: 2rem;

    > * {
        width: 85%;
    }
}

.edit-heading  {
  font-weight: 300;
  text-transform: uppercase;

  &::after {
    @include separator-style(50%, .1rem, .6rem 0, 0);
  }
}

.personal-info,
.contact-info,
.security {
    border: .1rem solid $grey-light-color;
    border-radius: .1rem;
    margin: .5rem 0;

  > h3 {
    text-align: center;

    &::after {
      content: '';
      height: 2rem;
    }
  }
}

.heading-form {
  text-align: center;
}

.main-edit-heading-form {
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
}

.input-edit {
  max-width: 1000px;
  padding: 1rem;
  margin: .2rem auto;
}

.edit-form-container { margin: .3rem 1rem; }

.btn-edit { margin-right: .5rem; }

@media (max-width: $small-device) {
    .form-edit {
        @include flex-structure(column, none, none, none);
        margin: 1rem 0;
    }
    .personal-info,
    .contact-info,
    .security {
        width: 100%;
    }

    .edit-buttons {
      width: 100%;
    }
}
