.form-edit {
    display: grid;
    place-items: center;
    margin: 2rem;

    > * {
        width: 85%;
    }
}

.edit-heading  {
  font-weight: 300;
  text-transform: uppercase;

  &::after {
    @include separator-style(50%, .1rem, .6rem 0, 0);
  }
}

.btn-edit { margin-right: .5rem; }

@media (max-width: $small-device) {
  .form-edit {
      @include flex-structure(column, none, none, none);
      margin: 1rem 0;
  }

  .edit-buttons {
    width: 100%;
  }
}
