.hero {
  @include flex-structure(none, none, flex-start, center);

  height: 93vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.search-home {
  width: 75%;
  margin-top: .5rem;
}
