.publish-container {
  @include flex-structure(column, none, none, none);
  margin: 1rem;
}

.personal-details-publish,
.car-info-publish,
.car-pictures-publish {
  border: .1rem solid $grey-light-color;
  border-radius: .1rem;
  margin: .5rem 0;
}

.heading-section-form {
  text-align: center;
}

.main-text-heading-form {
  padding: .8rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
}

.inputs-section-form {
  @include flex-structure(none, row wrap, none, center);
  max-width: 1000px;
  padding: 1rem;
  margin: 1.2rem auto;
}

.publish-form-container {
  width: 300px;
  padding: 1rem;
}

.description-container {
  @include flex-structure(column, none, center, none);
  border-top: .1rem solid $grey-light-color;
  margin: 1rem 2rem;
}

.textarea-publish {
  width: 50%;
  border: .1rem solid $grey-light-color;
  box-shadow: 0 0 0 .9rem $light-color, 0 0 0 1rem  $grey-light-color;
  margin: 1.5rem 1rem;
}

.files-section {
  margin: 2rem;
  font-weight: 300;
}

input[type="file"] { display: none; }

.publish-button-container {
  @include flex-structure(row-reverse, none, none, space-between);
  margin: 1rem 0;
}

@media(max-width: $medium-device) {
  .publish-form-container {
    width: 40%;
    padding: 0 .5rem;
  }

  .textarea-publish { width: 100%; }
}

@media(max-width: $small-device) {
  .publish-container { margin: 0; }

  .inputs-section-form { padding: .3rem; }

  .publish-form-container {
    width: 100%;
    padding: 0;
  }

  .textarea-publish { width: 100%; }

  .publish-button-container {
    @include flex-structure(column-reverse, none, none, none);
  }
}
