.register-container {
  @include flex-structure(column, none, none, none);
  margin: 1rem;
}

.main-heading {
  text-transform: uppercase;
  font-weight: 300;

  &::after {
    @include separator-style(50%, .1rem, .6rem 0, 0);
   }
}

.personal-details-publish,
.car-info-publish,
.car-pictures-publish {
  border: .1rem solid $grey-light-color;
  border-radius: .1rem;
  margin: .5rem 0;
}

.heading-section-form {
  text-align: center;
}

.main-text-heading-form {
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
}

.inputs-section-form {
  @include flex-structure(none, row wrap, none, center);
  max-width: 1000px;
  padding: 1rem;
  margin: 1.2rem auto;
}

.publish-form-container {
  width: 300px;
  padding: 1rem;
}

.description-container {
  @include flex-structure(column, none, center, none);
  border-top: .1rem solid $grey-light-color;
  margin: 2rem;

  .main-text-heading-form { padding: .6rem; }
}

.textarea-publish {
  width: 50%;
  border: .1rem solid $grey-light-color;
  box-shadow: 0 0 0 .9rem $light-color, 0 0 0 1rem  $grey-light-color;
  margin-bottom: 1rem;
}

.file-container {
  @include flex-structure(none, none, center, none);
  border: .1rem solid $grey-light-color;
  padding: 0 3rem;

  label {
    width: 100px;
    @include flex-structure(none, none, center, space-between);
    cursor: pointer;
  }
}

input[type="file"] { display: none; }

.upload-icon { font-size: 1.6rem; }

.publish-button-container {
  @include flex-structure(row-reverse, none, none, space-between);
  margin: 1rem 0;
}

.btn-publish { width: 200px; }

@media(max-width: $medium-device) {
  .publish-form-container {
    width: 40%;
  }

  .publish-form-container { padding: 0 .5rem; }

  .textarea-publish { width: 100%; }
}

@media(max-width: $small-device) {
  .register-container { margin: 0; }

  .inputs-section-form { padding: .3rem; }

  .heading-publish {
    p:nth-child(2) { line-height: 25px; }
  }

  .publish-form-container {
    width: 100%;
    padding: 0;
  }

  .textarea-publish { width: 100%; }

  .publish-button-container {
    @include flex-structure(column-reverse, none, none, none);
  }

  .btn-publish {
    width: 100%;
    margin-top: 1rem;
  }
}
