.list-navbar {
  display: flex;
  padding: 1rem;
  margin: 0;
  background-color: $grey-light-color;
}

.list-admin-element {
  padding: 1rem;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.admin-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
