.list-navbar {
  display: flex;
  padding: 1rem;
  margin: 0;
  background-color: $bg-grey-Slight;
}

.list-admin-element {
  padding: 1rem;
}

.admin-title {
  text-align: center;
}

.img-admin-hero {
  display: none;
}

.table-container {
  @include flex-structure(none, none, center, center);
  margin: 2rem;
  overflow-x: auto;
}

td, th {
  border: 1px solid $grey-light-color;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: $bg-grey-Slight;
}
