.slider {
  position: relative;
  display: flex;
  flex-shrink: 1;
  margin-bottom: 2rem;
}

.slider-img {
  width: 100%;
}

.arrow {
  position: relative;
  width: 0;
  align-self: flex-end;
  font-size: 3rem;
}

.arrowHover {
  &:hover {
    color: $primary-color;
    cursor: pointer;
  }
}
.left { left: 0rem; bottom: -0.6rem;}
.right { right: 3rem; bottom: -0.6rem; }

.arrow-style {
  background-color: $bg-red-light;
  background-size: auto;
}
