.search-container {
  @include flex-structure(column, none, none, center);
  padding: .6rem;
  border: 1px solid $grey-light-color;
}

.noVisible { display: none; }

.history-search-container  {
  @include flex-structure(none, row wrap, none, none);
}

.search-values {
  margin: 0 .9rem 0 .6rem;
  padding: .1rem;
  border: 1px solid $grey-color;
  font-weight: 400;
  color: $grey-color;
  text-align:right;
  cursor: pointer;

  &:hover {
    color: $primary-color;
  }
}

.checkMark {
  position: relative;
  right: -7px;
  top: -10px;
}

.search-wrapper-home {
  @include flex-structure(column, none, none, flex-end);

  .react-dropdown-select {
    margin-bottom: .8rem;
  }
}

.search-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "element1 element2 element3 element4"
    "element5 element6 element7 element7";
}

.search-total-style {
  padding: .5rem;

  > div {
    display: flex;
    align-items: center;
    margin: .1rem;
  }

  .react-dropdown-select {
    height: 3rem;
    border-radius: 0;
    border: 1px solid $grey-light-color;
    outline: none;
  }
}

.brand-select { grid-area: element1 }
.model-select { grid-area: element2 }
.seller-select {grid-area: element3 }
.km-select {grid-area: element4 }
.year-select { grid-area: element5 }
.price-select {grid-area: element6 }

.input-search {
    height: .9rem;
    width: 99%;
    margin-bottom: .6rem;
    border: 1px solid $grey-light-color;

  &::placeholder {
    color: $grey-darker;
    font-weight: 400;
  }

  &:hover, &:focus {
    border: 1px solid $additional-color;
  }

  &:focus {
    box-shadow: 0 0 0 3px rgb(0 116 217 / 20%);
  }
}

.react-dropdown-select-input {
  &::placeholder {
    color: $grey-darker;
    font-weight: 400;
  }
}

.select-buttons {
  grid-area: element7;
  @include flex-structure(none, none, center, center);

  .btn-filter ,
  .btn-reset {
    margin: .5rem .1rem;
  }
}

@media (max-width: $medium-device) {
  .search-container .search-wrapper,
  .search-container .search-wrapper-home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "element1 element2 element3"
    "element4 element5 element6"
    "element7 element7 element7";
  }
}

//SMALL DEVICE
@media (max-width: 480px) {
  .search-container { padding: 0; }

  .search-container .search-wrapper,
  .search-container .search-wrapper-home {
    @include flex-structure(column, none, none, none);
  }

  .input {
    &.input-search {
      width: 100%;
      margin-bottom: 0rem;
    }
  }

  .label {
    &.label-input-name {
      margin: .3rem;
    }
  }

  .search-values {
    margin: .8rem .9rem 0 .6rem;
  }
}
