.user-container {
  display: grid;
  grid-template-columns: minmax(50px, 300px)  1fr;
}

.user-sidebar {
  border-right: .1rem solid $grey-color;
}

.user-list {
  margin: 2rem;
  padding: 0;
  box-shadow: .1rem .2rem .2rem .2rem $grey-color;
}

.user-list-element {
  // width: 90%;
  padding: 1rem;
  border-bottom: .1rem solid $grey-light-color;

  &:hover, &:active {
    border-left: .5rem solid $grey-light-color;
  }
}

.user-content {
  margin: 2rem;
  padding: 0;
  box-shadow: .1rem .2rem .2rem .2rem $grey-color;

  .heading-details-user {
    padding: 1rem;

    &::after {
      @include separator-style(30%, .1rem, .3rem 0, 0);
     }
  }
}

.user-details {
  display: flex;
  flex-flow: row wrap;

  .details {
    padding: 1rem;
  }
}

@media(max-width: $change-device) {
  .user-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .user-list {
    margin: 0;
  }
}
