.user-container {
  display: grid;
  grid-template-columns: minmax(50px, 230px) 1fr;
  grid-template-areas:
    "element1 element2"
    "element3 element3"
    "element4 element4";
}

.user-sidebar { grid-area: element1; }
.user-content { grid-area: element2; }
.user-favourites { grid-area: element3; }
.user-published { grid-area: element4; }

.user-sidebar{
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
  z-index: 2;
}
.user-list {
  z-index: 2;
  margin: 2rem;
  padding: 0;
  box-shadow: .1rem .2rem .2rem .2rem $grey-color;
}

.user-list-element {
  padding: 1rem;
  border-bottom: .1rem solid $grey-light-color;
  cursor: pointer;

  &:hover, &:active {
    border-left: .5rem solid $grey-light-color;
  }

  &:hover a {
    color: $primary-color;
  }
}

.user-container-details {
  margin: 2rem;
  padding: 0;
  box-shadow: .1rem .2rem .2rem .2rem $grey-color;

  .heading-details-user {
    padding: 1rem;

    &::after {
      @include separator-style(30%, .2rem, .3rem 0, 0);
     }
  }
}

.user-details {
  display: flex;
  flex-flow: row wrap;

  .details {
    padding: 1rem;
  }
}

.user-details-favourites {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  width: 30%;
  border: 1px solid $grey-color;
  margin: .5rem .1rem;
  padding: .1rem;
}

.favourite-image {
  width: 100%;
}

.container-favourite-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favourites-button {
  position: sticky;
  margin: 1rem;
}


// .card-published {
//   display: grid;
//   grid-template-columns: 50% 50%;
//   width: 40%;
//   margin: 0 auto;
//   margin-bottom: 2rem;
//   border: 1px solid black;
//   padding: 1rem;
// }

.image-published {
  width: 100%;
}

// .container-published {
//  margin: 0 auto;
// }

// .published-button-container {
//   display: flex;
//   justify-content: space-between;
// }


@media(max-width: $medium-device) {
  .card {
    width: 90%;
  }
}

@media(max-width: $change-device) {
  .user-container {
    grid-template-columns: 1fr;
    grid-template-areas:
    "element1"
    "element2"
    "element3"
    "element4";
  }

  .user-list {
    margin: 0;
  }
}
