$primary-color: #c73f3f;
$light-color: #fff;
$dark-color: #000;
$grey-color: #a19e9e;
$grey-light-color: #d1cbcb;
$separator-color: #eb0707;
$additional-color: #0000ff;

$bg-light: #fff;
$bg-dark: #000;
$bg-grey: #d1cbcb;
$bg-grey-light: #d1cbcb;
$bg-grey-Slight: #eaeeed;
$bg-red-light: #FBEFF5;

$extra-small-device: 375px;
$small-device: 425px;
$medium-device: 768px;
$large-device: 1024px;

$change-device: 600px;
$change-Xlarge-footer-device: 1130px;
$change-large-footer-device: 900px;

